@inherits LayoutComponentBase

<PageTitle>LMS System</PageTitle>

<div class="min-h-screen bg-gray-100">
    <NavMenu />
    
    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        @Body
    </main>

    <Toast />
</div> 